<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/Statistics.css"/>
    <title>Statistics</title>
   	<script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div id="app">
		<header>
			<ul class="cle">
				<li><img src="img/bar@x2.png"/></li>
				<li class="flex1" @click='navClick($event)'>
					<span>进度统计</span>
					<img src="img/bottom@2x.png" class="arrow">
					<nav style="display:none;">
						<ul>
							<li v-for='navName in navLiNub1' @click='navLiClick($event,navName)'>{{navName}}</li>
							
						</ul>
					</nav>
				</li>
				<li class="flex1" @click='navClick($event)'>
					<span>近一周</span><img src="img/bottom@2x.png" class="arrow">
					<nav style="display: none;">
						<ul>
							<li v-for="navName in navLiNub2" @click='navLiClick($event,navName)'>{{navName}}</li>
						</ul>
					</nav>
				</li>
			</ul>
		</header>
		<section>
			<h1 class="">进度统计</h1>
			<div class="mt4">{{getLastWeekStartDate(6)}}至{{getLastWeekStartDate(0)}}</div>
		</section>
		<div id="main"></div>
		<div class="tab-inlet">
			<div class="tab-click fr">进入列表</div>
			统计图包含检查结果约：&nbsp;<span>194</span>&nbsp;个
		</div>
		<div class="tab-view">
			<table border="" cellspacing="" cellpadding="">
				<thead>
					<tr><th>排序</th><th>检查内容</th><th>检查数量</th><th>滞后</th><th>正常</th><th>无定论</th></tr>
				</thead>
				<tbody>
					<tr><th>1</th><th>检查内容</th><th>检查数量</th><th>滞后</th><th>正常</th><th>无定论</th></tr>
					<tr><th>1</th><th>检查内容</th><th>检查数量</th><th>滞后</th><th>正常</th><th>无定论</th></tr>
					<tr><th>1</th><th>检查内容</th><th>检查数量</th><th>滞后</th><th>正常</th><th>无定论</th></tr>
					<tr><th>1</th><th>检查内容</th><th>检查数量</th><th>滞后</th><th>正常</th><th>无定论</th></tr>
					
				</tbody>
	
				
			</table>
		</div>
		<div class="navigation" @click='showNavView()'>保<br>存<br>图<br>表</div>
		<div class="navigation-show" style="display: none;">
			<div class="nav-click" @click='saveChart()'>保存本页面统计图标</div>
			<p class="mt2">将本业统计图标以截图形式保存，可选择加入报告也可进入列表页选择后选择数据调整图标再保存</p>
			<img src="img/bottom@2x.png" alt="" @click.stop='hideNavView()'/>
		</div>
	</div>
	 <script type="text/javascript">
    	$(document).ready(function(){

		        var html = document.documentElement;
		
		        var windowWidth = html.clientWidth;
		
		        html.style.fontSize = windowWidth / 7.5 + 'px'
    	})
   		
    </script>
    <script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/Statistics.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>