@charset "utf-8";
* {
  box-sizing: border-box;
  /*font-family: "myFirstFont1";*/
}
body,html{
  height: 100%
}
body {
  margin: 0;
  padding: 0;
/*  background-color: #f5f8f8;*/
   font-family: "MicroSoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  color: #fff;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #333;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr,
acronym {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
i,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul,
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
a {
  text-decoration: none;
  color: #1c243b;
}
.cle:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.fl{
  float: left;
}
.fr{
  float: right;
}
